In [3]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

Figuring out what data is missing.

In [4]:
missing = np.nan
series_obj = Series(['Row_1','Row_2',missing,'Row_4','Row_5','Row_6',missing,'Row_8'])
print(series_obj)

0    Row_1
1    Row_2
2      NaN
3    Row_4
4    Row_5
5    Row_6
6      NaN
7    Row_8
dtype: object

In [5]:
series_obj.isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
dtype: bool

Filling in for missing values.

In [18]:
np.random.seed(25)
DF_obj = DataFrame(np.random.randint(10, size=(6,6)))
print(DF_obj)

   0  1  2  3  4  5
0  4  6  7  2  8  4
1  9  4  5  1  7  3
2  8  7  3  4  3  1
3  6  0  9  0  2  5
4  4  9  0  1  6  1
5  2  4  2  5  8  0

In [22]:
DF_obj.loc[3:5,1] = missing
DF_obj.loc[1,1:3] = missing
print(DF_obj)

   0    1    2    3  4  5
0  4  6.0  7.0  2.0  8  4
1  9  NaN  NaN  NaN  7  3
2  8  7.0  3.0  4.0  3  1
3  6  NaN  9.0  0.0  2  5
4  4  NaN  0.0  1.0  6  1
5  2  NaN  2.0  5.0  8  0

In [15]:
filled_DF = DF_obj.fillna(55)
filled_DF

   0     1     2     3  4  5
0  4   6.0   7.0   2.0  8  4
1  9  55.0  55.0  55.0  7  3
2  8   7.0   3.0   4.0  3  1
3  6  55.0   9.0   0.0  2  5
4  4  55.0   0.0   1.0  6  1
5  2  55.0   2.0   5.0  8  0

Filled missing values in DataFrame.

In [28]:
print(DF_obj)
filled_DF = DF_obj.fillna({1:0.1,2:1.25})
print(filled_DF)

   0    1    2    3  4  5
0  4  6.0  7.0  2.0  8  4
1  9  NaN  NaN  NaN  7  3
2  8  7.0  3.0  4.0  3  1
3  6  NaN  9.0  0.0  2  5
4  4  NaN  0.0  1.0  6  1
5  2  NaN  2.0  5.0  8  0
   0    1     2    3  4  5
0  4  6.0  7.00  2.0  8  4
1  9  0.1  1.25  NaN  7  3
2  8  7.0  3.00  4.0  3  1
3  6  0.1  9.00  0.0  2  5
4  4  0.1  0.00  1.0  6  1
5  2  0.1  2.00  5.0  8  0