In [32]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [ ]:
# Fatching value from the series_obj by Index Name
print(series_obj['Row_2'])

# Fatching value by Index number
print(series_obj[4])

# Fatching values between 2 indexes
print(series_obj[[1, 3]])

In [ ]:
# Creation of Series from numpy and assign index_Names
series_obj = Series(np.arange(1, 6), index=[
                    'Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5'])
print(series_obj)

In [42]:
# Generating Random numbers.
DF_obj = DataFrame(np.random.randint(10, size=(6,6)), index=[
                   'Row_A', 'Row_B', 'Row_C', 'Row_D', 'Row_E', 'Row_F'], columns=['COL_1', 'COL_2', 'COL_3', 'COL_4', 'COL_5', 'COL_6'])
print(DF_obj)

       COL_1  COL_2  COL_3  COL_4  COL_5  COL_6
Row_A      2      5      7      1      4      7
Row_B      9      3      1      2      3      1
Row_C      5      4      5      2      4      1
Row_D      3      2      1      4      5      8
Row_E      3      1      2      6      5      7
Row_F      1      3      9      3      5      0

In [43]:
DF_obj.loc[['Row_B', 'Row_C'],['COL_4', 'COL_5']]

       COL_4  COL_5
Row_B      2      3
Row_C      2      4

In [49]:
series_obj['Row_3':'Row_5']

Row_3    3
Row_4    4
Row_5    5
dtype: int32

In [51]:
DF_obj < 2

       COL_1  COL_2  COL_3  COL_4  COL_5  COL_6
Row_A  False  False  False   True  False  False
Row_B  False  False   True  False  False   True
Row_C  False  False  False  False  False   True
Row_D  False  False   True  False  False  False
Row_E  False   True  False  False  False  False
Row_F   True  False  False  False  False   True

In [55]:
series_obj[series_obj > 2]

Row_3    3
Row_4    4
Row_5    5
dtype: int32

In [56]:
series_obj['Row_1'] = 1
print(series_obj)

Row_1    1
Row_2    2
Row_3    3
Row_4    4
Row_5    5
dtype: int32